In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 35pt;}
div.output { font-size: 16pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 35pt;}
div.prompt { min-width: 100px;}
</style>
"""))

In [ ]:
### 리터널 : 자연어 (한글, 영어, 일번 , 중국,..., 숫자)
### 숫자 리터널(숫자 자료형):10, 1,2, 10.5,...
### 문자열 리터널 : a(x, 변수),"a",'a','가',"가","1"(문자),1(숫자)
###                """""", '''''' (개행문자 : \n)

In [4]:
print("""Life is too short, 
You need python""")
print("Life is too short, \nYou need python")

"Life is too short,
You need python
Life is too short,
You need python

In [5]:
## 숫자 리터널(숫자 자료형)에서 사용되는 연산자
## +, -, *, /, %, //, **
## 문자열 리터널(문자열 자료형)에서 사용되는 연산자
## +(붙이기 연산자), *(반복 연산자)
print("==" * 30)
print("python" + " " + "is fun")
print("==" * 30)

============================================================
python is fun
============================================================

In [8]:
a = "Life is too short, You need python"
##   0123456789012345678901234567890123
##             1         2         3
### index의 마지막 번호
print(len(a) - 1)
print(a[33])
print(a[len(a)-1])
print(a[-1])
### 맨 앞글자
print(a[0])
print(a[-34])
print(a[-len(a)])

33
n
n
n
L
L
L

In [59]:
### Life를 출력하시오
a = "Life is too short, You need python"
#    01234
#                   9876543210987654321-
#                            1
print(a[0]+a[1]+a[2]+a[3])
## slicing
print(a[0:0+4])
print(a[0:4]) # 0부터 4가되기 전까지
print(a[-34:4])
## need를 출력하시오
print(a[-11:-11+4])
print(a[-11:-7]) # -11부터 -7전까지 
print("==" * 30)
print(a)
print(a[0:4])
print(a[:4])
print(a[28:34])
print(a[28:])
print(a[:])
print(a[::2])
print(a[::3])
print(a[::-1])
print(a[:27:-1])
s = a[28:]
print(s)
print(s[::-1])

Life
Life
Life
Life
need
need
============================================================
Life is too short, You need python
Life
Life
python
python
Life is too short, You need python
Lf stosot o edpto
Lesosr ue tn
nohtyp deen uoY ,trohs oot si efiL
nohtyp
python
nohtyp

In [16]:
## 포멧문자를 이용해서 출력
name = '이숭무'
age = 35
height = 170.5
print("나의 이름은 %s이고 나이는 %d이며 키는 %f입니다." % \
      (name, age, height))
print("나의 이름은 %s이고 나이는 %d이며 키는 %.1f입니다." % \
      (name, age, height))
print("나의 이름은 %10s이고 나이는 %-5d이며 키는 %.1f입니다." % \
      (name, age, height))

나의 이름은 이숭무이고 나이는 35이며 키는 170.500000입니다.
나의 이름은 이숭무이고 나이는 35이며 키는 170.5입니다.
나의 이름은        이숭무이고 나이는 35   이며 키는 170.5입니다.

In [21]:
## format함수 
print("나의 이름은 {0}이고 나이는 {1}이며 키는 {2}이다."\
     .format(name, age, height))
print("나의 이름은 {1}이고 나이는 {0}이며 키는 {2}이다."\
     .format(age, name,  height))
print("나의 이름은 {0}이고 블로그는 {0}이다.".format(name))
print("나의 이름은 {1}이고 나이는 {0}이며 키는 {h}이다."\
     .format(age, name,  h=height))

나의 이름은 이숭무이고 나이는 35이며 키는 170.5이다.
나의 이름은 이숭무이고 나이는 35이며 키는 170.5이다.
나의 이름은 이숭무이고 블로그는 이숭무이다.
나의 이름은 이숭무이고 나이는 35이며 키는 170.5이다.

In [22]:
print(f"나의 이름은 {name}이고 나이는 {age}이며 키는 {height}이다")

나의 이름은 이숭무이고 나이는 35이며 키는 170.5이다

In [37]:
### 문자열 함수 : 문자열을 원하는 형태로 가공
print(a)
print(len(a)) # 크기를 반환하는 함수
a = "hobby"
print(len(a))
# 변수 a에 'b'문자가 몇개가 있을까?
b = a.count('b')
print(b)
### 원하는 문자가 있는 index를 가져 오기
print(a.find('o'))
c = a.find('o')
print( a[c : c + 3])
### 't'문자의 위치를 찾으시오.
print(a.find('t')) # 없는 문자인 경우 -1을 가져온다.

print(a.index('o'))
c = a.index('o')
print(a[c : c +3])
# print(a.index('t')) : 없는 문자열인 경우 오류 발생

hobby
5
5
2
1
obb
-1
1
obb

In [67]:
a = 'Python is the best choice'
idx = a.index('t')
print(idx)
idx = a.find('t')
## 9번index 다음에 있는 't'를 찾으시오
idx = a.index('t', 9)
print(idx)
idx = a.find('t', 9)
print(idx)
### 뒤에 있는 't'를 찾으시오.
idx = a.rfind('t')
print(idx)
idx = a.rindex('t')
print(idx)

2
10
10
17
17

In [73]:
#### 소문자를 대문자로 
print(a)
print(a.upper())
### 대문자를 소문자로
print(a)
print(a.lower())
print(a)

Python is the best choice
PYTHON IS THE BEST CHOICE
Python is the best choice
python is the best choice
Python is the best choice

In [81]:
a = '      abcd'
print(a)
print(a.strip())
a = 'abcd     '
print(a)
print(a.strip())
a = '    abcd     '
print(a)
print(a.strip())
a = '    ab cd     '
print(a)
print(a.strip())
a = 'a가나다라a'
print(a)
print(a.strip('a')) ### 양옆에 있는 문자열을 제거
a = 'ab가나다라ab'
print(a)
print(a.strip('ab'))

      abcd
abcd
abcd
abcd
    abcd
abcd
    ab cd
ab cd
a가나다라a
가나다라
ab가나다라ab
가나다라

In [87]:
##### 문자열 대체하기
a = 'Python is the best choice'
# 'Python/is/the/best/choice'
print(a.replace(" ","/"))
a = 'Python,is,the,best,choice'
print(a)
print(a.replace(","," "))
a = "Life is too short"
print(a)
### Life를 Your leg로 대체
print(a.replace("Life", "Your leg"))

Python/is/the/best/choice
Python,is,the,best,choice
Python is the best choice
Life is too short
Your leg is too short

In [91]:
# 문자열 잘라내기
print(a)
b = a.split() # 공백문자를 기준으로 잘라내기
print(b) # ['Life', 'is', 'too', 'short']를 리스트
a = "Life:is:too:short" 
print(a) 
b = a.split(":") ## 문자열을 split을 하게되면 리스트로 가져옴
print(b)

Life:is:too:short
['Life:is:too:short']
Life:is:too:short
['Life', 'is', 'too', 'short']

In [114]:
### count 문자의 갯수
print(a.count('b'))
#  문자의  index를 가져오기
print(a.index('o'))
print(a.find('o'))
print(a.index('o',10))
print(a.find('o',10))
print(a.find("too")) # 문자열인 경우 맨 앞의 문자의 index를 가져옴
print(a.index("too"))
print(a.rindex("too"))
print(a.rfind("too"))
###  대문자는 소문자로 , 소문자는 대문자로
print(a.upper())
print(a.lower())
a = " Life is too short " 
print(a.strip())
print(a.rstrip())
print(a.lstrip())
### 문자열 대체
print(a.replace("Life", "Your leg"))
##############
s = "01071461970"
print(s.isdigit()) #### 문자가 모두 숫자인지 확인
s = "010-7146-1970"
print(s)
print(s.isdigit())
if s.isdigit():
    print("숫자만 포함되어 있습니다.")
else:
    print("숫자만 있어야 합니다.")
s = "abcdef"
print(s.isalpha())

0
10
10
10
10
9
9
9
9
 LIFE IS TOO SHORT
 life is too short
Life is too short
 Life is too short
Life is too short
 Your leg is too short
True
010-7146-1970
False
숫자만 있어야 합니다.
True

In [118]:
s = "ABCDEF"
print(s.islower())
if s.islower():
    print(s)
else:
    print(s.lower())

print(s.isupper())
if s.isupper():
    print(s)
else:
    print(s.upper())
### isdigit, isalpha, islower, isupper

False
abcdef
True
ABCDEF

In [124]:
#### 자료형
### 숫자 자료형 : 1,2,3, 10.5
### 문자열 자료형 : "",'','''''',"""""", a(변수), "1", 1(숫자)
# print("1" + 1) #  문자와 숫자라 연산할 수 없다
print(1 + 1)
i = 10
s = "이숭무"
# 리스트 자료형 : 여러개의 데이터를 저장할 수 있는 자료형 : []
a = 1 # 숫자 자료형
a = "1" # 문자열 자료형
a = [1] # 리스트 자료형
a = [1,2,3,4,5] # 숫자 리스트
print(a) 
s = ['Life', 'is' ,'too', 'short']# 문자열 리스트
print(s)
b = 'Life is too short'
print(b)
c = b.split() # 문자열을 split하면 리스트를 가져온다.
print(c)

2
[1, 2, 3, 4, 5]
['Life', 'is', 'too', 'short']
Life is too short
['Life', 'is', 'too', 'short']

In [128]:
b = 'Life is too short'
#    0123456789 
print(b[3])
s = ['Life', 'is' ,'too', 'short']
#       0      1     2       3
# 리스트 안에 있는 데이터(자료)를 요소라고 한다.
# 리스트 안에 있는 각 요소에는 고유의 번호인 index가 있다.
# 리스트의 크기
print(len(s)) ### 요소의 갯수가 4이므로 크기가 4이다.
print(s[0]) # 리스트에 있는 첫번째 요소

e
4
Life

In [134]:
i = [1,2,3,4,5]
print(i)
print(i[0]) # 숫자
print(i[1]) # 숫자
print(i[0] + i[1])
print(s)
print(s[0]) # 문자열
print(s[1]) # 문자열
print(s[0] + " " + s[1])
print(s[0] * 3)

[1, 2, 3, 4, 5]
1
2
3
['Life', 'is', 'too', 'short']
Life
is
Life is
LifeLifeLife

In [140]:
b = 'Life is too short'
###  0123456789
s = ['Life', 'is' ,'too', 'short']
###     0      1     2       3
###     4     3      2       1 -
print(b)
print(s)
print(b[0:4])
print(s[0:2])
print(b[:4])
print(s[:2])
print(b[::2])
print(s[::2])
print(s[-1])

Life is too short
['Life', 'is', 'too', 'short']
Life
['Life', 'is']
Life
['Life', 'is']
Lf stosot
['Life', 'too']
short

In [142]:
### 리스트 연산자
s = "abc"
s1 = "def"
print(s + s1)
print(s * 3)
l = [1,2,3]
l1 = [4,5,6]
print(l + l1)
print(l * 3)

abcdef
abcabcabc
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [150]:
s = 'pithon'
print(s[1])
#s[1] = 'y'
l = [1,2,3,4]
print(l[1])
l[1] = 10
print(l)
### 요소번호를 이용해서 요소 지우기
del l[1]
print(l)

i
2
[1, 10, 3, 4]
[1, 3, 4]
[1, 3, 4, 5]

In [155]:
### 리스트에서 사용하는 기본 함수
### 리스트 뒤에 요소 추가 
l.append(5)
print(l)
l = [2,4,3,1,5]
l.sort() # 데이터가 변경 된다. 리스트의 요소를 정렬(오름차순)
print(l)
l.sort(reverse=True) # 리스트에 있는 요소를 역순으로 정렬(내림차순)
print(l)
l = [2,4,3,1,5] 
l.reverse() # 거꾸로 저장
print(l)

[5, 4, 3, 2, 1, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[5, 1, 3, 4, 2]

In [162]:
s = 'Life is too short'
print(s.index('s'))
print(s.find('s'))
## print(s.index('y'))
l = [2,4,3,1,5] 
print(l.index(3))
### print(l.find(3))
## print(l.index(6)) # 없는 데이터는 오류 발생

6
6
2

In [167]:
l = [1,2,3,4,5]
l.append(6)
print(l)
l.append(7) ### 마지막에 저장 
print(l)
### 원하는 위치에 요소를 저장
l.insert(2, 10)
print(l)
l.insert(5, 20)
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 10, 3, 4, 5, 6, 7]
[1, 2, 10, 3, 4, 20, 5, 6, 7]

In [176]:
l = [1, 2, 10, 3, 4, 20, 5, 6, 7]
print(l)
### index를 이용 
del l[2]
print(l)
### 요소의 값을 이용해서 삭제
l.remove(20)
print(l)
l = [1, 2, 4, 3, 4, 20, 5, 4, 7]
print(l)
l.remove(4) # 앞에 있는 요소만 지워 진다.
print(l)
l.remove(4)
l.remove(4)
print(l)
l = [1, 2, 4, 3, 4, 20, 5, 4, 7]
print(l.count(4))
cnt = l.count(4)
i = 1
# while i <= cnt:
#     l.remove(4)
#     i = i + 1
# print(l)

[1, 2, 10, 3, 4, 20, 5, 6, 7]
[1, 2, 3, 4, 20, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 4, 3, 4, 20, 5, 4, 7]
[1, 2, 3, 4, 20, 5, 4, 7]
[1, 2, 3, 20, 5, 7]
3
[1, 2, 3, 20, 5, 7]

In [188]:
l = [1, 2, 3, 20, 5, 7]
del l[1]
print(l)
l.remove(20)
print(l)
l.pop() #  뒤에서 부터 지워진다.
print(l)
l.pop()
print(l)
y = l.pop() # pop은 삭제한 데이터를 가지고 나옴
print(y)
print(l)
l = [1, 2, 3, 20, 5, 7]
print(l)
y = l.pop()
print(y)
print(l)  # [1, 2, 3, 20, 5]
y = l.pop()
print(y) 
print(l)  # [1, 2, 3, 20]
l.pop()
print(l)  # [1, 2, 3]
l = [1, 2, 3, 20, 5, 7]
del l[2]
print(l) # [1, 2, 20, 5, 7]
l.pop(2) # index를 사용해서 요소 삭제
print(l)

[1, 3, 20, 5, 7]
[1, 3, 5, 7]
[1, 3, 5]
[1, 3]
3
[1]
[1, 2, 3, 20, 5, 7]
7
[1, 2, 3, 20, 5]
5
[1, 2, 3, 20]
[1, 2, 3]
[1, 2, 20, 5, 7]
[1, 2, 5, 7]

In [194]:
l = [1, 2, 3, 20, 5, 7]
l.append(10)
print(l)
# l.append(11,12) #append로는 여러 요소를 한번에 저장할 수 없다.
l.insert(3, 10)
print(l)
l.insert(3, (10,20))
print(l)
l = [1, 2, 3, 20, 5, 7]
l.extend([10,20])
print(l)

[1, 2, 3, 20, 5, 7, 10]
[1, 2, 3, 10, 20, 5, 7, 10]
[1, 2, 3, (10, 20), 10, 20, 5, 7, 10]
[1, 2, 3, 20, 5, 7, 10, 20]

In [201]:
l = [1,2,3,4]
l.pop()
l.pop()
l.pop()
l.pop()
print(l)
l = [] # 빈리스트
l.append(1)
print(l)
l.append(2)
print(l)
l = [1,2,3,4]
l = ['Life', 'is', 'too', 'short']
l = [1,2,3,4,'Rhee', 'Soong', 'Moo', 5,6,7] # 혼합형리스트
#    0 1 2 3   4        5       6    7 8 9
print(l[1])
print(l[4]) 
l = [1,2,3,4,[5,6,7,8], 'Rhee'] # 리스트를 포함하는 리스트
#    0 1 2 3     4        5
print(l)
print(l[4])
## 여러개 유형의 데이터를 여러개 저장

[]
[1]
[1, 2]
2
Rhee
[1, 2, 3, 4, [5, 6, 7, 8], 'Rhee']
[5, 6, 7, 8]

In [210]:
l = ["Life", "is", "too", "short"]
#      0       1     2       3
#     0123          012    01234
print(l[0]) # Life
#             0123
print("Life"[0])
print(l[0][0])

print("=="*30)

print(l[3]) # short
print(l[3][1:3])
print("short"[1:3])

print("=="  * 30)

print(l[0:3])

l = [1,2,3,4]
print(l[0])
print([1,2,3,4][0])

Life
L
L
============================================================
short
h
ho
============================================================
['Life', 'is', 'too']
1
1

In [218]:
l = [1,2,3,4,[5,6,7,8],"Life is too short", 9, 10, [11,12,13]]
#    0 1 2 3     4           5              6   7      8
#                       0123456789...                0  1  2
print(l[4])
print(l[4][2])
print(l[4][1:3])
print(l[1:5])
print(l[5])
print(l[5][0:7])
print(l[5][8:8+3])
print(l[8][1])

[5, 6, 7, 8]
7
[6, 7]
[2, 3, 4, [5, 6, 7, 8]]
Life is too short
Life is
too
12

In [222]:
l = [1, 2 , 3 , [ 4 , 5 , [ 6 , 7 , 8 , 9 ] , 10 , 11 ],12,13]
#    0  1   2                     3                      4  5
#                 0   1           2           3    4
#                           0   1   2   3
print(l[3])
print(l[3][2])
print(l[3][2][1])
print(l[3][2][1:3])

[4, 5, [6, 7, 8, 9], 10, 11]
[6, 7, 8, 9]
7
[7, 8]

In [230]:
l = [1,2,3,  ['a','b','RheeSoongMoo','c','d']  ,4 , 5]
#    0 1 2                   3                  4   5
#              0   1         2        3    4
#                      0123456789..
print(l[3])
print(l[3][2])
c = l[3] # ['a', 'b', 'RheeSoongMoo', 'c', 'd']
print(c)
print(c[2])
print(l[3][2])
d = l[3][2] # RheeSoongMoo
print(d)
print(d[4:9])
print(l[3][2][4:9])

['a', 'b', 'RheeSoongMoo', 'c', 'd']
RheeSoongMoo
['a', 'b', 'RheeSoongMoo', 'c', 'd']
RheeSoongMoo
RheeSoongMoo
RheeSoongMoo
Soong
Soong

In [231]:
l = [1,2,3,4,5]
print(l[1])
print(l[1:4])

2
[2, 3, 4]

In [241]:
l = [1,2,3]
print(len(l)) # 3
s = "abcd"
print(len(s)) # 4
l1 = ["aaaa", "bbbbb", "cccccc"]
c =  l1[0] # "aaaa"
print(c) # "aaaa"
print(len(c)) # 4
print(l1[0]) # "aaaa"
print(len(l1[0])) # 4
d = l1[1]
print(d) # "bbbbb"
print(len(d)) # 5
print(len(l1[1])) # 5
print(len(l1[0]) + len(l1[1])) # 4 + 5 = 9

3
4
aaaa
4
aaaa
4
bbbbb
5
5
9

In [245]:
l=[1,2,3,['a','b','c',[4,5,6],'d','e'],[7,8,9,[10,11],12],13]
#  0 1 2                 3                       4         5
#          0   1   2     3     4   5    0 1 2    3     4
print(l[3]) # ['a', 'b', 'c', [4, 5, 6], 'd', 'e']
#               0    1    2       3       4    5
print(l[3][2]) # c
print(l[3][3]) # [4, 5, 6]
#                 0  1  2
print(l[3][3][1]) # 5

['a', 'b', 'c', [4, 5, 6], 'd', 'e']
c
[4, 5, 6]
5

In [246]:
##자료형 
# 숫자 자료형 : 1, 2, 10, 2.5
# 문자열 자료형 : a(변수) , 'a',"", '', """""", ''''''
#                1(숫자), '1'(문자)
# 리스트 자료형 : [1,2,3]
# 튜플 자료형 : (1,2,3)
print( 1 + 1) # 숫자 자료형
print("1" + "1") # 문자열 자료형
print([1] + [1]) # 리스트 자료형
l = [] # 빈 리스트

2
11
[1, 1]

In [251]:
l = [1,2,3,4] # 리스트
print(1 + 1 *3)
print((1 + 1) *3)
print((1))
print("==" * 30)
t = (1) # 최우선 연산자
print(t) # print((1))
t = (1,) # 튜플 자료형인 경우 요소가 한개이면 ','가 있어야 한다.
print(t)
l = [1]
print(l)
t = (1,2,3,4,5)
print(t)

4
6
1
============================================================
1
(1,)
[1]
(1, 2, 3, 4, 5)

In [255]:
l = [1,2,3,4,5]
#    0 1 2 3 4
print(l[2])
print(l[1:4])
t = (1,2,3,4,5)
#    0 1 2 3 4
print(t[2])
print(t[1:4])

3
[2, 3, 4]
3
(2, 3, 4)

In [3]:
t = (1,2,3,4,[1,3,4,5],6,(1,2,3,4))
#    0 1 2 3     4     5     6
print(t[4])
print(t[6])
print(t[4][2:4])
l = [1, 2, 3, 4, 5]
print(l)
print(l.index(3))
print(t.index(3))

[1, 3, 4, 5]
(1, 2, 3, 4)
[4, 5]
[1, 2, 3, 4, 5]
2
2

In [271]:
l = [1,2,3,4]
t = (1,2,3,4)
print(l)
print(t)
print(l[2])
l[2] = 10 #### 리스트에 있는 요소의 값은 변경할 수 있다.
print(l)
print(t[2])
'''
t[2] = 10 ### 튜플은 요소의 값을 변경할 수 없다.
print(t)
'''
print(t)
del l[2]
print(l)
# del t[2]

[1, 2, 3, 4]
(1, 2, 3, 4)
3
[1, 2, 10, 4]
3
(1, 2, 3, 4)
[1, 2, 4]

In [ ]:
t = () # 빈 튜플
t1 = (1,) #  요소가 하나인 튜플
t2 = (1,2,3,4) # 정수형 튜플
t3 = ('a','b','c') # 문자열 튜플
t4 = (1,2,3,'a','b','c',4,5) # 혼합형 튜플
t5 = (1,2,3,4,[5,6,7],(8,9,10),'a','b')

In [304]:
name = '이숭무'
age = 35
height = 170.5
print("나의 이름은 %s이고 나이는 %d이며 키는 %f이다" % \
      (name,age,height))
print("나의 이름은 %s이고 나이는 %d이며 키는 %f이다" % \
      ('이숭무',35, 170.5))
# ('이숭무',35, 170.5)는 튜플 자료형이다.

나의 이름은 이숭무이고 나이는 35이며 키는 170.500000이다
나의 이름은 이숭무이고 나이는 35이며 키는 170.500000이다

In [278]:
t = (1,2,3,('abcde','fghijk','aaaa'),[1,2,3])
#    0 1 2          3                   4
# 
print(t[3]) # ('abcde', 'fghijk', 'aaaa')
#                 0         1        2
print(t[3][1]) # 'fghijk'
#                 012345
print(t[3][1][2:4]) # hi
print(t[3]) # ('abcde', 'fghijk', 'aaaa')
#                 0        1        2
print(t[3][0:2]) #('abcde', 'fghijk')
print(t[4])

('abcde', 'fghijk', 'aaaa')
fghijk
hi
('abcde', 'fghijk', 'aaaa')
('abcde', 'fghijk')
[1, 2, 3]

In [279]:
# 숫자, 문자열, 리스트 : [], 튜플 : ()
# 딕셔너리 (사전) : {단어 : 뜻} ==> {키: 값}
# {키1:값1, 키2:값2, 키3:값3,...}
# 딕셔너리는 키와 값을 쌍으로 묶은 데이터이다.
i = 1
s = '1'
l = [1]
t = (1,)
dic = {'a':1}
print(dic['a']) # dic[키] , 딕셔너리는 index를 사용하지 않는다.

1

In [283]:
dic = {'name':'이숭무', 'phone':'01071461970', 
       'birth': '1118'}
print(dic)
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

{'name': '이숭무', 'phone': '01071461970', 'birth': '1118'}
이숭무
01071461970
1118

In [287]:
dic = { 1: '이', 0 : '숭' , 3: 10}
print(dic[0])
dic[0] = 35
print(dic)

숭
{1: '이', 0: 35, 3: 10}

In [292]:
# dic = { 1:'이', '나이' : 35, 2 : '숭' , [1] : '무' }
# 키는 리터널 자료형만 키로 사용할 수 있다.
dic = {1: 1, 2: 2, 3: 3}
print(dic[1])
dic[1] = '이'
dic[2] = [1,2,4]
dic[3] = (1,2,3)
print(dic)
print(dic[1])
print(dic[2]) # [1, 2, 4]
#                0  1  2
print(dic[2][1])
print(dic[3]) # (1, 2, 3)

1
{1: '이', 2: [1, 2, 4], 3: (1, 2, 3)}
이
[1, 2, 4]
2
(1, 2, 3)

In [296]:
dic = {1: 'a', 1: 'b'} # 키는 오로지 유일해야 한다.
                       # 중복키가 있는 경우 마지막 값을 갖는다.
print(dic)
print(dic[1])
dic[1] ='이'
print(dic)
dic[2] = '숭'
dic[3] = '무'
print(dic) # 키가 있으면 값이 수정되고 키가 없으면 추가한다.

{1: 'b'}
b
{1: '이'}
{1: '이', 2: '숭', 3: '무'}

In [303]:
dic = {}
print(dic)
dic['name'] = '이숭무'
dic['phone'] = '01071461970'
dic['birth'] = '19991015'
print(dic)
### 문제 : 생년월일에서 년만 가져오시오
print(dic['birth']) # 19991015
#                     01234567
#                     87654321-
print(dic['birth'][:4])
# 월과 일을 출력하시오
print(dic['birth'][4:6])
print(dic['birth'][-2:])

{}
{'name': '이숭무', 'phone': '01071461970', 'birth': '19991015'}
19991015
1999
10
15