In [2]:
import pandas
pandas.__version__

'1.1.0'

In [6]:
import sys
print(sys.version)

3.8.5 (default, Aug  5 2020, 09:44:06) [MSC v.1916 64 bit (AMD64)]

In [2]:
import numpy as np
import pandas as pd

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0]) # 리스트나 배열을 이용해서 Series를 만들 수 있다.

In [11]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [13]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [14]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
data[1] # 인덱스를이용해서 데이터에접근할 수 있다.

0.5

In [17]:
data[1:3] # # 인덱스를 이용해서 슬라이싱을 할 수 있다.

1    0.50
2    0.75
dtype: float64

In [18]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd']) # Pandas Series에는 값에 연결된 명시적으로 정의된 인덱스가 있다

In [19]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [20]:
data['b']

0.5

In [21]:
print(data['b'])

0.5

In [22]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=[2, 5, 3, 7]) # 인접하지 않거나 연속적이지 않은 인덱스를 사용할 수도 있다
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [23]:
data[5]

0.5

In [25]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

In [28]:
population = pd.Series(population_dict) # 파이썬 딕셔러리에서 직접 Series객체를 구성함으로써 딕셔러리로서의 Series의 의미를 갖는다.
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [29]:
population['California']

38332521

In [31]:
population['California':'Illinois'] # 딕셔너리와 달리 Series는 슬라이싱 같이 배열 스타일의 연산도 지원한다

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [32]:
# Series의 data는 리스트나 NumPy배열일 수 있고, 그런 경우 index는 정수가 기본이다
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [34]:
pd.Series(5, index=[100, 200, 300]) # data는 지정된 인덱스를 채우기 위해 반복되는 스칼라값일 수 있다.

100    5
200    5
300    5
dtype: int64

In [36]:
# data는 딕셔너리일 수도 있는데, 그 경우 index는 기본적으로 딕셔너리 키를 정렬해서 취한다
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [38]:
# Series를 명시적으로 정의된 키로만 채울 수 있다
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [39]:
# DataFrame은 정렬된 Series객체의 연속이다.
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [42]:
states = pd.DataFrame({'population': population, 'area': area}) # population Series객체와 area Series객체로 DataFrame생성
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [44]:
states.index # DataFrame도 인덱스 레이블에 접근할 수 있는 index속성을 가지고 있다

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [46]:
states.columns # DataFrame은 열 레이블을 가지고 있는 Index객체인 column속성을 가지고 있다

Index(['population', 'area'], dtype='object')

In [47]:
# 따라서 DataFrame은 행과 열 모두 데이터 접근을 위한 일반화된 인덱스를 가지고 있는 2차원 NumPy배열의 일반화된 버전으로 볼 수 있다

In [48]:
#딕셔너리는 키값에 매핑한다면 DataFrame은 이름을 열 데이터로 이뤄진 Series에 매핑한다. 
#예를 들면 ‘area’속성을 질의하면 앞에서 본 면적을 담고 있는 Series객체를 반환한다
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [49]:
# DataFrame을 일반화 된 배열보다 일반화된 딕셔너리로 보는 것이 더 적합할 수 있다.

In [50]:
# DataFrame은 Series객체의 집합체로서 열 하나짜리 DataFrame은 단일 Series로부터 구성할 수 있다
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [56]:
pd.DataFrame({'population': population})

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [59]:
# names = ['Jone','emily','michale']  
# result = [name for name in names] # 파이썬 리스트 컴프리헨션
# result

['Jone', 'emily', 'michale']

In [55]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]  # 리스트 컴프리헨션을 사용해 데이터를 만들 것이다
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [60]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]) # 딕셔너리의 일부 키가 누락되더라도 Pandas는 누락된 자리를 NaN값으로 채운다.

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [61]:
# DataFrame은 Series객체의 딕셔너리로 구성될 수 있다
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [66]:
# 2차원 NumPy 배열에서 구성하기
# 데이터의 2차원 배열이 주어지면 지정된 열과 인덱스 이름을 가진 DataFram을 생성할 수 있다
# 생략되면 각각에 대해 정수 인덱스가 사용된다
pd.DataFrame(np.random.rand(3, 2))

          0         1
0  0.159280  0.947176
1  0.975919  0.607072
2  0.200091  0.743961

In [67]:
pd.DataFrame(np.random.rand(3, 2),columns=['foo', 'bar'])

        foo       bar
0  0.169219  0.391018
1  0.521859  0.000863
2  0.720806  0.445226

In [68]:
pd.DataFrame(np.random.rand(3, 2),columns=['foo', 'bar'],index=['a', 'b', 'c'])

        foo       bar
a  0.490624  0.639354
b  0.571819  0.314893
c  0.201193  0.242924

In [71]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [72]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [1]:
# 이하는 넘어가도 될 듯

In [ ]:
# 정수 리스트로부터 Index를 구성해 보자

In [3]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [5]:
ind[1]

3

In [7]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [16]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [18]:
ind[1] = 0   #index에는 값을 저장 할 수 없다.

TypeError: Index does not support mutable operations

In [19]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [21]:
indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [23]:
indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [24]:
indA ^ indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')