In [4]:
# 벡터화된 문자열 연산
# Pandas 문자열 연산
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [5]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]  #capitalize() 는 문자열의 앞을 대분자로 변경

['Peter', 'Paul', 'Mary', 'Guido']

In [6]:
# 일부 데이터에서는 이것만으로도 충분하겠지만 누락된 값이 있다면 에러가 발생할 것이다.
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [7]:
# Pandas는 문자열을 담고 있는 Pandas Series와 Index객체의 str속성을 통해 벡터화된 
    
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [8]:
# 누락된 값은 건너뛰면서 모든 항목의 첫글자를 대문자로 변경하는 메서드를 호출할 수 있다
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

In [10]:
# 파이썬 문자열 메서드와 유사한 메서드
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [11]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [12]:
monte.str.len() # 문자열의 길이를 숫자로 반환

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [14]:
monte.str.startswith('T') # 부울로 반환한다

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [15]:
monte.str.split() # 각 요소에 대한 리스트나 다른 복합 값을 반환

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [16]:
# 정규표현식을 활용하는 메서드
monte.str.extract('([A-Za-z]+)', expand=False)

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [25]:
# 문자열 시작(^)과 끝($)을 나타내는 정규 표현식을 사용해 처음으로 시작으로 시작하고 끝나는 모든 이름을 찾기
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [26]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [27]:
# 백터화된 항목의 접근 및 슬라이싱
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [29]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [30]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [31]:
# 지시 변수
full_monte = pd.DataFrame({'name': monte,
                           'info': ['B|C|D', 'B|D', 'A|C',
                                    'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [37]:
# get_dummies() 루틴을 이용하면 이 지시 변수를  DataFrame으로 신속하게 나눌 수 있다
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1